{% extends 'base.html.twig' %}

{% block title %}{{ categoryName }}{% endblock %}

{% block body %}
<h1>Séries de la catégorie {{ categoryName }}</h1>
    <div>
        {% for program in programs %}
        <div>
            <a href="{{ path('program_show', {program : program.id})}}"><h2>{{ loop.index }} / {{ program.title }}</h2></a>
            <strong>Catégorie : {{ program.category.name }}</strong>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
        </div>
    {% endfor %}

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}